*{
    color: #ffffff;
font-size: 27px;
font-family: sans-serif;
}
.propiedades {position: absolute;top: 73px;left: 45px;}
.cargo {position: absolute;top: 147px;left: 44px;font-size: 37px;}
.fecha_inicio {position: absolute;top: 563px;left: 263px;font-size: 22px;}
.direccion_gh {position: absolute;top: 643px;left: 99px;font-size: 22px;}
.coordinadora_gh {position: absolute;top: 716px;left: 84px;}
.asistente_gh {position: absolute;top: 714px;left: 543px;}
.mail_coord_gh {position: absolute;top: 775px;left: 119px;}
.mail_asist_gh {position: absolute;top: 775px;left: 579px;}
.tel_asist_gh {position: absolute;top: 807px;left: 581px;}
